@charset "utf-8";

nav {
	background-color:#3C3E5A;
	width: 100%;
	height: 75px;
	position:fixed;
	top:0;
	left:0;
	z-index: 40;
}

footer {
	position: absolute;
	background-color:#101331;
	width: 100%;
	height: 250px;
	z-index: 5;
	left: 0;
	bottom: 0;
}

.container {
	top: 0px;
	left: 0px;
	padding-top: 150px;
	height: calc(100%-150px);
}

html, body {
	position: relative;
	margin:0px;
	padding:0px;
	height:1500px;
}

body {
	
	background-image: url(sunrise.jpg);
	background-color:#000000;
	background-size:400%;
	background-position: top;
	
}

#logo {
	position: relative;
	height: 75px;
	width: 20%;
	float:left;
	
}

#logo h1 {
    position: relative;
    margin-top: 14px;
	margin-left: 70px;
    font-size: 40pt;
	font-family: "articulat-cf", sans-serif;
	font-weight: 600;
	font-style: normal;
	color: lightgray;
	
}

li {color: white;}

aside ul li ul {display: none; line-height: 20px; position: relative;}

aside ul li:hover ul {display: block; }

aside ul li:hover {background-color: #3E0067}

aside ul li {line-height: 35px; background-color: #5500CD; width: calc(100% - 15px); padding-left: 15px;}

aside ul {; list-style: none; margin: 0; padding: 0;}

aside a {}

#links {
	width: 80%;
	float:right;
	height:75px;
}

#links ul {
	list-style-type: none;
}

#links ul li {
	float: left;
	margin-top:10px;
	margin-right: 10%;
	font-size: 18pt;
}

a {
	font-family: "articulat-cf", sans-serif;
	font-weight: 600;
	font-style: normal;
}

a:link {
	color: lightgray;
}

a:visited {
	color: #8483FF
}

a:hover {
	text-decoration: none;
}

a:active {
	color: darkgray;
}

aside {
	position: absolute;
	top: 0px;
	left: 0px;
	width:12%;
	background-color:#292B49;
	height: calc(100% - 75px);
	z-index:0;
	padding-top: 75px;
}

#left {
	float:left;
	width:37%;
}

#right {
	float:right;
	width:25%;
}

#center {
	width:25%;
	float: left;
}

footer ul li {
	font-size: 20pt;
}

#main {
    position: relative;
    float: right;
    width: 100%;
    height: 100%;
    top: 0px;
    padding-top: 0px;
	text-align: center;
}

#main h1 {
	font-family: "utile", sans-serif;
	font-weight: 700;
	text-align: center;
	color: lightgray;
	font-size: 50pt;
}

#main p {
    font-family: "utile", sans-serif;
    font-weight: 700;
    text-align: center;
    color: lightgray;
    font-size: 17pt;
    margin-right: 175px;
    margin-left: 175px;
}